@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.game-area {
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid #dc042c;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
}

@media only screen and (max-width: 800px) {
  .game-area {
      position: relative;
      width: 350px;
      height: 300px;
  }

  .snake {
      width: 12px;
      height: 12px;
  }
}

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #dc042c;
  border: 1px solid black;
  z-index: 2;
}

.food {
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 20px;
  z-index: 1;
}

a {
  color: #4918fd;
  text-decoration: underline;
}